<h1 style="background-color:DodgerBlue;"> Edit the Location Details</h1>

<%= form_with model: @place, url: "/update_location/#{@place.id}" do |form| %>
	<div>
		<%= form.label :Shop_name %> <br>
		<%= form.text_field :Shop_name %>
	</div>

	<div>
		<%= form.label :Code %> <br>
		<%= form.number_field :Code %>
	</div>

	<div>
		<%= form.label :Description %> <br>
		<%= form.text_area :Description %>
	</div>

	<div>
		<%= form.submit "Update" %>
	</div>

	<% end %>